<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LookAesthetic</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link href="/img/donateicon.png" rel="icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            background-color: #FEA116;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .container {
            text-align: center;
        }
        .icon {
            color: #f6f6f6;
        }
        h1 {
            font-size: 2.5rem;
            margin-bottom: 10px;
        }
        p {
            font-size: 1.2rem;
            color: #000000;
        }
        .go-home-button {
            margin-top: 20px;
        }
        .go-home-button a {
            background-color: #f6f6f6;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            color: #000000;
            font-weight: bold;
        }
        .go-home-button a i {
            margin-right: 5px;
        }
    </style>
    <title>Under Maintenance</title>
</head>
<body>
    <div class="container">
        <div class="icon fa-5x animate__animated animate__fadeIn animate__delay-1s">
            <i class="fas fa-tools"></i>
        </div>
        <h1 class="animate__animated animate__fadeInDown">Sorry for the Inconvenience</h1>
        <p class="animate__animated animate__fadeInUp">We are currently working on this feature and will be back with it soon.</p>
        <div class="go-home-button" style="padding-top: 2rem; border-radius: 3rem;">
            <a href="/homepage">
                <i class="fas fa-home"></i> Go Home
            </a>
        </div>
    </div>
</body>
</html>
