<%- include('./partials/header.ejs', { first: "Home", second: "Explore With Our AI" }) %>

<!-- Sell Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Our Services</h5>
            <h1 class="mb-5">Explore Our Ai Clothing Collection</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a href="selectai/shirts"> <!-- Link to the Shirts page -->
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fas fa-tshirt fa-3x text-primary mb-4"></i>
                            <h5>Shirts</h5>
                            <p>Discover a stylish collection of shirts for any occasion.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a href="selectai/pants"> <!-- Link to the Pants page -->
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fas fa-tshirt fa-3x text-primary mb-4"></i>
                            <h5>Pants</h5>
                            <p>Explore comfortable and trendy pants to complete your wardrobe.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>






<%- include('./partials/footer.ejs') %>